{% load static %}
<!-- ================================
    Start Footer
    ================================= -->
    <footer>
      <div class="footerCol">
        <div class="container">
          <ul class="socialCol">
            <li><a href="https://www.linkedin.com/in/feyisayo-jijoho-ogun-b8842317/"><img src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
            <li><a href="https://twitter.com/feyiman"><img src="{% static 'images/twitter.svg' %}" alt="..."></a></li>
            <li><a href="https://github.com/feyicodes"><img src="{% static 'images/github.svg' %}" alt="..."></a></li>
          </ul>
          <div class="copyrightCol">
            <p>Copyright ©{% now 'Y' %} All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- ================================
    End Footer
    ================================= -->